body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url("C:\Users\James Abache\OneDrive\Desktop\REACTPROJECT\src\IMAGE\pattern-background-desktop.svg");
  background-color: rgb(158, 212, 236);
  background-size: cover;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  margin-top: 6%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 33%;
}

.faith{
  background-color: white;
  width: 33%;
  margin: auto;
  text-align: center;
  position: relative;
  bottom: 0.2rem;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.temi{
  width: 70%;
  margin: auto;
  text-align: center;
  padding-bottom: 5%;
}
*{
  padding: 0%;
  margin: 0%;
}
.order{
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: space-between;
  width: 70%;
  background-color: whitesmoke;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 10px;
}
.button{
  background-color: rgb(32, 75, 204);
  border-radius: 12px;
  color: white;
  width: 80%;
  padding: 4%;
  border-style: none;
  margin-bottom: 10px;
}
a{
  color: rgb(32, 75, 204);
}
.cancel{
  background-color: white;
  border-radius: 12px;
  color: black;
  width: 80%;
  padding: 4%;
  border-style: none;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image:url("C:\Users\James Abache\OneDrive\Desktop\REACTPROJECT\src\IMAGE\pattern-background-desktop.svg");
    background-color: rgb(158, 212, 236);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .header{
    margin-top: 6%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 50%;
  }
  
  .faith{
    background-color: white;
    width: 33%;
    margin: auto;
    text-align: center;
    position: relative;
    bottom: 0.2rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 50%;
  }
  .temi{
    width: 70%;
    margin: auto;
    text-align: center;
    padding-bottom: 5%;
    font-size: 12px;
  }
  *{
    padding: 0%;
    margin: 0%;
    font-size: 1rem;
    /* width: 100%; */
  }
  .order{
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: space-between;
    width: 70%;
    background-color: whitesmoke;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 10px;
  }
  a{
    color: rgb(32, 75, 204);
  }

  .button{
    background-color: rgb(32, 75, 204);
    border-radius: 12px;
    color: white;
    width: 70%;
    padding: 4%;
    border-style: none;
    margin-bottom: 10px;
    /* font-size: 11px; */
  }
  .cancel{
    background-color: white;
    border-radius: 12px;
    color: black;
    width: 80%;
    padding: 4%;
    border-style: none;
    margin-bottom: 10px;
  }
  .annual{
    width: 45%;
  }
}


@media (max-width: 425px) {
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image:url("C:\Users\James Abache\OneDrive\Desktop\REACTPROJECT\src\IMAGE\pattern-background-desktop.svg");
    background-color: rgb(158, 212, 236);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .header{
    margin-top: 22%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 80%;
  }
  
  .faith{
    background-color: white;
    width: 80%;
    margin: auto;
    text-align: center;
    position: relative;
    bottom: 0.2rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .temi{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-bottom: 5%;
    font-size: 13px;
    padding-top: 5px;
  }
  .annual{
    width: 100%;
  }
  a{
    color: rgb(32, 75, 204);
  }

  *{
    padding: 0%;
    margin: 0%;
    /* width: 100%; */
    /* font-size: 1rem; */
  }
  h1{
    font-size: 32px;
    padding-top: 10px;
    /* margin-top: 30px; */
  }
  .order{
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: space-between;
    width: 90%;
    background-color: whitesmoke;
    border-radius: 12px;
    padding: 5px;
    margin-bottom: 10px;
  }
  .music{
    width: 40px;
  }
  .button{
    background-color: rgb(32, 75, 204);
    border-radius: 12px;
    color: white;
    width: 70%;
    padding: 5%;
    border-style: none;
    margin-bottom: 10px;
    font-size: 12px;
    height: 35px;
  }
  .cancel{
    background-color: white;
    border-radius: 12px;
    color: black;
    width: 100%;
    padding: 2%;
    border-style: none;
    margin-bottom: 10px;
  }

  
}

